.adjustment-amount-product-request{
    display: none;
}
.select2-container .select2-selection--single{
    height: 40px!important;
    border: none!important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0!important;
    line-height: 26px!important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border-left: 0!important;
    height: 40px!important;
}

.category-field .select2-container,.product-field .select2-container{
	margin-bottom: 10px;
}